{% extends "base.html" %}

{% block content%}
<div class="d-flex p-3">

    
    <div class="card px-5 py-5 d-flex flex-grow-1 m-3" id="form1">
        <div class="d-flex justify-content-between">
        <h3>
            your phonebook:
        </h3>
        
        <div class="form">
            <i class="fa fa-search"></i>
            <input 
                type="text" class="form-control form-input" placeholder="Search anything..."
                onchange=search(this.value)
            >
            <span class="left-pan"><i class="fa fa-microphone"></i></span>
        </div>
        </div>
        
        <table class="table">
            <thead>
              <tr >
                
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>

            </thead>
            <tbody>
                 {% for f in phones %}
                    <tr id={{f.id}} class="phone-contact">
                        <th scope="col" class="phone">
                            {{ f.first_name }} 
                        </th>
                        <th scope="col" class="phone">
                            {{ f.last_name }} 
                        </th>
                        <th scope="col" class="phone">
                            {{ f.phonenumber }} 
                        </th>

                        <th scope="col" >
                            <button class="btn btn-danger" onclick="deleteRow({{f.id}})">delete</button>
                        </th>
                        <th scope="col" >
                            <a class="btn btn-warning" href="/edit/phone/{{f.id}}">edit</a>
                        </th>

                    </tr>
 

                {% endfor %}
            </tbody>
        </table>
        <a href="/addPhone" class="btn btn-dark">Add Contact</a>
    </div>
</div>
<script>
    var editID;
    function deleteRow(id){
        document.getElementById(id).style.display = "none"
        fetch("/delete/phone/"+id,
    {
        method: "GET",
        headers: {
            'Content-Type': 'application/json'
        },
        
    })
    }
    function editRow(id){
        // editDisplay(true);
        // editID = id;
        // const text = document.getElementById(id).getElementsByClassName("phone");
        // document.getElementById("firstname").value = text[0].innerHTML.split(' ').join('')
        // document.getElementById("lastname").value = text[1].innerHTML.split(' ').join('')
        // document.getElementById("phone").value = text[2].innerHTML.split(' ').join('')
        // console.log(text[0].innerHTML)

        // // document.getElementById(id).style.display = "none"
        fetch("/edit/phone/"+id,
            {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                },
        
        })
    }
    function search(text){
        const elements = document.getElementsByClassName("phone-contact")
        for (let i = 0; i < elements.length; i++) {
            elements[i].style.display = "none";
            const contents = elements[i].getElementsByClassName("phone")
            for(let j = 0; j < contents.length; j++){
                if(contents[j].innerHTML.indexOf(text) != -1){
                    elements[i].style.display = "table-row";
                }
            }
        }
    }
    function editDisplay(isEdit){
        if(isEdit==true){
            document.getElementById("submit").style.display = "none";
            document.getElementById("edit").classList.remove("d-none");
        }
        else{
            document.getElementById("submit").style.display = "flex";
            document.getElementById("edit").classList.add("d-none");
            document.getElementById("firstname").value = ''
            document.getElementById("lastname").value = ''
            document.getElementById("phone").value = ''
        }
    }
    function editPhone(){
        let text = document.getElementById("phone").value; let pattern = /(0|\+98)?([ ]|-|[()]){0,2}9[1|2|3|4|5|6|7|8|9]([ ]|-|[()]){0,2}(?:[0-9]([ ]|-|[()]){0,2}){8}/;
        let result = pattern.test(text);
        if(result){
            fetch("/delete/phone/"+editID,
            {
                method: "GET",
                headers: {
                    'Content-Type': 'application/json'
                },
        
            })
        }
        else{
            alert("the phone number was invalid try again!")
        }
    }
</script>
{%endblock%}
